In [19]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
from tqdm import tqdm

In [20]:
def analyzer(df):
    
    df['DELIV_VALUE'] = ''
    df['5DDeVA'] = ''
    df['%Change_In_Price'] = ''
    df['%Change_In_Deliv_vs_AVG'] = ''
    
    df['DELIV_VALUE'] = (df['DELIV_QTY'] * df['AVG_PRICE'])/10000000
    
    for i in range(5):
        df['5DDeVA'][i] = np.nan
        df['%Change_In_Price'][i] = np.nan
        df['%Change_In_Deliv_vs_AVG'][i] = np.nan
        
    for i in range(5, df.shape[0]):

        df.at[i, '5DDeVA'] = df['DELIV_VALUE'].iloc[i-5:i].mean()
        df.at[i, '%Change_In_Price'] = ((df.at[i, 'CLOSE_PRICE'] - df.at[i-1, 'CLOSE_PRICE'])/df.at[i-1, 'CLOSE_PRICE']) * 100
        df.at[i, '%Change_In_Deliv_vs_AVG'] = (df.at[i, 'DELIV_VALUE']/df.at[i, '5DDeVA']) * 100
    
    return df

In [21]:
def Comapny_file_path(name):
    
    # returns Company csv file path
    return f'C:/Users/91951/Desktop/SAL/SAL 6th SEM/DE/Code version 2 11032022/Company_file/{name}.csv'

In [22]:
def Analyzed_company_file_path(name):
    
    return f'C:/Users/91951/Desktop/SAL/SAL 6th SEM/DE/Code version 2 11032022/Analyzed_Company_file/{name}.csv'

In [23]:
Company_list = ['3MINDIA', 'AARTIDRUGS', 'AARTIIND', 'AAVAS', 'ABB', 'ABCAPITAL', 'ABFRL', 
                'ACC', 'ACCELYA', 'ACE', 'ADANIENT', 'ADANIPORTS', 'ADFFOODS', 'ADVENZYMES', 
                'AEGISCHEM', 'AHLUCONT', 'AIAENG', 'AJANTPHARM', 'AKZOINDIA', 'ALEMBICLTD', 'ALKEM', 
                'ALKYLAMINE', 'ALLCARGO', 'ALOKINDS', 'AMARAJABAT', 'AMBER', 'AMBUJACEM', 'AMRUTANJAN', 
                'ANURAS', 'APARINDS', 'APLAPOLLO', 'APLLTD', 'APOLLOHOSP', 'APOLLOPIPE', 'APOLLOTYRE', 
                'ARVIND', 'ARVINDFASN', 'ASAHIINDIA', 'ASHIANA', 'ASHOKA', 'ASHOKLEY', 'ASIANPAINT', 'ASTEC', 
                'ASTERDM', 'ASTRAL', 'ASTRAZEN', 'ATFL', 'ATUL', 'AUBANK', 'AUROPHARMA', 'AUTOAXLES', 'AVANTIFEED', 
                'AXISBANK', 'BAJAJ-AUTO', 'BAJAJCON', 'BAJAJELEC', 'BAJAJFINSV', 'BAJAJHLDNG', 'BAJFINANCE', 'BALAMINES', 
                'BALKRISIND', 'BALMLAWRIE', 'BALRAMCHIN', 'BANARISUG', 'BANDHANBNK', 'BANKBARODA', 'BANKINDIA', 'BASF', 'BATAINDIA', 'BBTC', 'BDL', 'BECTORFOOD', 'BEL', 'BEML', 'BEPL', 'BERGEPAINT', 'BHARATFORG', 'BHARATRAS', 'BHARTIARTL', 'BHEL', 'BIOCON', 'BIRLACORPN', 'BLUEDART', 'BLUESTARCO', 'BOMDYEING', 'BOSCHLTD', 'BPCL', 'BRIGADE', 'BRITANNIA', 'BSE', 'BSOFT', 'CAMLINFINE', 'CANBK', 'CANFINHOME', 'CAPACITE', 'CAPLIPOINT', 'CARBORUNIV', 'CARERATING', 'CASTROLIND', 'CCL', 'CDSL', 'CEATLTD', 'CENTRALBK', 'CENTRUM', 'CENTURYPLY', 'CENTURYTEX', 'CERA', 'CESC', 'CGCL', 'CHALET', 'CHAMBLFERT', 'CHEMCON', 'CHENNPETRO', 'CHOLAFIN', 'CHOLAHLDNG', 'CIPLA', 'COALINDIA', 'COCHINSHIP', 'COFORGE', 'COLPAL', 'CONCOR', 'CONFIPET', 'COROMANDEL', 'CRAFTSMAN', 'CREDITACC', 'CRISIL', 'CROMPTON', 'CSBBANK', 'CUB', 'CUMMINSIND', 'CYIENT', 'DAAWAT', 'DABUR', 'DALBHARAT', 'DALMIASUG', 'DBCORP', 'DBL', 'DCAL', 'DCBBANK', 'DCMSHRIRAM', 'DEEPAKNTR', 'DELTACORP', 'DEN', 'DFMFOODS', 'DHAMPURSUG', 'DHANI', 'DHANUKA', 'DIAMONDYD', 'DISHTV', 'DIVISLAB', 'DIXON', 'DLF', 'DMART', 'DOLLAR', 'DRREDDY', 'EASEMYTRIP', 'EDELWEISS', 'EICHERMOT', 'EIDPARRY', 'EIHOTEL', 'ELGIEQUIP', 'EMAMILTD', 'ENDURANCE', 'ENGINERSIN', 'EPL', 'EQUITAS', 'EQUITASBNK', 'ERIS', 'ESABINDIA', 'ESCORTS', 'EVEREADY', 'EXIDEIND', 'FACT', 'FCONSUMER', 'FDC', 'FEDERALBNK', 'FILATEX', 'FINCABLES', 'FINEORG', 'FINPIPE', 'FMGOETZE', 'FORTIS', 'FRETAIL', 'FSL', 'GABRIEL', 'GAEL', 'GAIL', 'GALAXYSURF', 'GANECOS', 'GARFIBRES', 'GATI', 'GENUSPOWER', 'GEOJITFSL', 'GEPIL', 'GESHIP', 'GET&D', 'GHCL', 'GICRE', 'GILLETTE', 'GLAND', 'GLAXO', 'GLENMARK', 'GMDCLTD', 'GMMPFAUDLR', 'GMRINFRA', 'GNFC', 'GODFRYPHLP', 'GODREJAGRO', 'GODREJCP', 'GODREJIND', 'GODREJPROP', 'GPPL', 'GRANULES', 'GRAPHITE', 'GRASIM', 'GREAVESCOT', 'GREENLAM', 'GREENPLY', 'GRINDWELL', 'GRSE', 'GSFC', 'GSPL', 'GTPL', 'GUJALKALI', 'GUJGASLTD', 'GULFOILLUB', 'HAL', 'HAPPSTMNDS', 'HATHWAY', 'HATSUN', 'HAVELLS', 'HCC', 'HCG', 'HCLTECH', 'HDFC', 'HDFCAMC', 'HDFCBANK', 'HDFCLIFE', 'HEG', 'HEIDELBERG', 'HEMIPROP', 'HERANBA', 'HERITGFOOD', 'HEROMOTOCO', 'HESTERBIO', 'HFCL', 'HGINFRA', 'HIKAL', 'HIL', 'HIMATSEIDE', 'HINDALCO', 'HINDCOPPER', 'HINDOILEXP', 'HINDPETRO', 'HINDUNILVR', 'HINDZINC', 'HOMEFIRST', 'HONAUT', 'HSCL', 'HUDCO', 'HUHTAMAKI', 'IBREALEST', 'IBULHSGFIN', 'ICICIBANK', 'ICICIGI', 'ICICIPRULI', 'ICIL', 'ICRA', 'IDBI', 'IDEA', 'IDFC', 'IDFCFIRSTB', 'IEX', 'IFBIND', 'IFCI', 'IGL', 'IGPL', 'IIFLSEC', 'IIFLWAM', 'IMFA', 'INDHOTEL', 'INDIACEM', 'INDIAGLYCO', 'INDIAMART', 'INDIANB', 'INDIGO', 'INDIGOPNTS', 'INDOCO', 'INDOSTAR', 'INDUSINDBK', 'INDUSTOWER', 'INEOSSTYRO', 'INFIBEAM', 'INFY', 'INGERRAND', 'INOXLEISUR', 'INOXWIND', 'INTELLECT', 'IOB', 'IOC', 'IOLCP', 'IPCALAB', 'IRB', 'IRCON', 'IRCTC', 'IRFC', 'ISEC', 'ITC', 'ITDC', 'ITDCEM', 'ITI', 'J&KBANK', 'JAGRAN', 'JAICORPLTD', 'JAMNAAUTO', 'JBCHEPHARM', 'JBMA', 'JCHAC', 'JINDALPOLY', 'JINDALSAW', 'JINDALSTEL', 'JKCEMENT', 'JKIL', 'JKLAKSHMI', 'JKPAPER', 'JKTYRE', 'JMCPROJECT', 'JMFINANCIL', 'JPPOWER', 'JSL', 'JSLHISAR', 'JSWHL', 'JSWSTEEL', 'JTEKTINDIA', 'JUBLFOOD', 'JUBLINGREA', 'JUBLPHARMA', 'JUSTDIAL', 'JYOTHYLAB', 'KAJARIACER', 'KALPATPOWR', 'KALYANKJIL', 'KANSAINER', 'KARURVYSYA', 'KEC', 'KEI', 'KIOCL', 'KIRIINDUS', 'KIRLOSENG', 'KIRLOSIND', 'KNRCON', 'KOLTEPATIL', 'KOTAKBANK', 'KPITTECH', 'KPRMILL', 'KRBL', 'KSB', 'KSCL', 'KSL', 'KTKBANK', 'L&TFH', 'LALPATHLAB', 'LAOPALA', 'LAURUSLABS', 'LAXMIMACH', 'LEMONTREE', 'LICHSGFIN', 'LINDEINDIA', 'LT', 'LTI', 'LTTS', 'LUMAXIND', 'LUPIN', 'LUXIND', 'LXCHEM', 'M&M', 'M&MFIN', 'MAHABANK', 'MAHINDCIE', 'MAHLIFE', 'MAHLOG', 'MAHSCOOTER', 'MAHSEAMLES', 'MAITHANALL', 'MANAPPURAM', 'MARICO', 'MARKSANS', 'MARUTI', 'MASFIN', 'MASTEK', 'MATRIMONY', 'MAXHEALTH', 'MAYURUNIQ', 'MAZDOCK', 'MCDOWELL-N', 'METROPOLIS', 'MFSL', 'MGL', 'MHRIL', 'MIDHANI', 'MINDACORP', 'MINDAIND', 'MINDTREE', 'MMFL', 'MMTC', 'MOIL', 'MOREPENLAB', 'MOTHERSUMI', 'MOTILALOFS', 'MPHASIS', 'MRF', 'MRPL', 'MSTCLTD', 'MTARTECH', 'MTNL', 'MUTHOOTFIN', 'NAM-INDIA', 'NATCOPHARM', 'NATIONALUM', 'NAUKRI', 'NAVINFLUOR', 'NAVNETEDUL', 'NAZARA', 'NBCC', 'NBVENTURES', 'NCC', 'NEOGEN', 'NESCO', 'NETWORK18', 'NEWGEN', 'NFL', 'NH', 'NHPC', 'NIACL', 'NIITLTD', 'NILKAMAL', 'NLCINDIA', 'NMDC', 'NOCIL', 'NTPC', 'NUCLEUS', 'OAL', 'OBEROIRLTY', 'OFSS', 'OIL', 'OMAXE', 'ONGC', 'ORIENTCEM', 'ORIENTELEC', 'ORISSAMINE', 'PAGEIND', 'PAISALO', 'PCJEWELLER', 'PEL', 'PERSISTENT', 'PETRONET', 'PFC', 'PFIZER', 'PGHH', 'PGHL', 'PHOENIXLTD', 'PIDILITIND', 'PIIND', 'PILANIINVS', 'PNB', 'PNCINFRA', 'POLYCAB', 'POLYMED', 'POLYPLEX', 'POWERGRID', 'POWERINDIA', 'PRAKASH', 'PRESTIGE', 'PRINCEPIPE', 'PRIVISCL', 'PRSMJOHNSN', 'PSB', 'PSPPROJECT', 'PTC', 'PURVA', 'PVR', 'QUESS', 'QUICKHEAL', 'RADICO', 'RAILTEL', 'RAIN', 'RAJESHEXPO', 'RALLIS', 'RAMCOCEM', 'RAMCOIND', 'RAMCOSYS', 'RATNAMANI', 'RAYMOND', 'RBLBANK', 'RCF', 'RECLTD', 'REDINGTON', 'RELAXO', 'RELIANCE', 'RELIGARE', 'REPCOHOME', 'RESPONIND', 'RITES', 'RKFORGE', 'ROSSARI', 'ROUTE', 'RSYSTEMS', 'RUCHI', 'RUPA', 'RVNL', 'SAFARI', 'SAGCEM', 'SAIL', 'SANDHAR', 'SANOFI', 'SASKEN', 'SBICARD', 'SBILIFE', 'SBIN', 'SCHAEFFLER', 'SCHNEIDER', 'SCI', 'SEQUENT', 'SFL', 'SHARDACROP', 'SHILPAMED', 'SHK', 'SHOPERSTOP', 'SHREECEM', 'SHRIRAMCIT', 'SIEMENS', 'SIS', 'SJVN', 'SKFINDIA', 'SOBHA', 'SOLARA', 'SOLARINDS', 'SONATSOFTW', 'SOTL', 'SOUTHBANK', 'SPANDANA', 'SPARC', 'SRF', 'SRTRANSFIN', 'STAR', 'STARCEMENT', 'STLTECH', 'STOVEKRAFT', 'SUBEXLTD', 'SUBROS', 'SUDARSCHEM', 'SUMICHEM', 'SUNCLAYLTD', 'SUNDARMFIN', 'SUNDRMFAST', 'SUNPHARMA', 'SUNTECK', 'SUNTV', 'SUPRAJIT', 'SUPREMEIND', 'SURYAROSNI', 'SURYODAY', 'SUVENPHAR', 'SUVIDHAA', 'SUZLON', 'SWANENERGY', 'SWARAJENG', 'SWSOLAR', 'SYMPHONY', 'SYNGENE', 'TASTYBITE', 'TATACHEM', 'TATACOFFEE', 'TATACOMM', 'TATACONSUM', 'TATAELXSI', 'TATAINVEST', 'TATAMETALI', 'TATAMOTORS', 'TATAPOWER', 'TATASTEEL', 'TCI', 'TCIEXP', 'TCNSBRANDS', 'TCS', 'TEAMLEASE', 'TECHM', 'TECHNOE', 'THERMAX', 'THOMASCOOK', 'THYROCARE', 'TIDEWATER', 'TIINDIA', 'TIMETECHNO', 'TIMKEN', 'TINPLATE', 'TITAN', 'TORNTPHARM', 'TORNTPOWER', 'TRENT', 'TRITURBINE', 'TRIVENI', 'TTKPRESTIG', 'TV18BRDCST', 'TVSMOTOR', 'TVSSRICHAK', 'TVTODAY', 'UBL', 'UCOBANK', 'UFLEX', 'UJJIVAN', 'UJJIVANSFB', 'ULTRACEMCO', 'UNICHEMLAB', 'UNIONBANK', 'UPL', 'UTIAMC', 'VAIBHAVGBL', 'VAKRANGEE', 'VARROC', 'VBL', 'VEDL', 'VENKEYS', 'VESUVIUS', 'VGUARD', 'VINATIORGA', 'VIPIND', 'VMART', 'VOLTAS', 'VRLLOG', 'VSTIND', 'VSTTILLERS', 'VTL', 'WABAG', 'WABCOINDIA', 'WELCORP', 'WELENT', 'WELSPUNIND', 'WHIRLPOOL', 'WIPRO', 'WOCKPHARMA', 'WSTCSTPAPR', 'YESBANK', 'ZEEL', 'ZENSARTECH', 'ZYDUSWELL']

In [24]:
for company in tqdm(Company_list):
    df = pd.read_csv(Comapny_file_path(company))
#     display(df)
    analyzer(df).to_csv(Analyzed_company_file_path(company), index=False)

  0%|                                                                                          | 0/646 [00:00<?, ?it/s]C:\Users\91951\AppData\Local\Temp/ipykernel_12404/711845629.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['5DDeVA'][i] = np.nan
C:\Users\91951\AppData\Local\Temp/ipykernel_12404/711845629.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['%Change_In_Price'][i] = np.nan
C:\Users\91951\AppData\Local\Temp/ipykernel_12404/711845629.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['%Change_In_Deliv_vs_AVG'][i] = np.nan
100%|████████████████████████████████████████████████████████████████████████████████| 646/646 [00:12<00:00, 51.07it/s]

# Rough work start from here

In [2]:
df = pd.read_csv('SBIN.csv')
df

,SYMBOL,SERIES,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,SBIN,EQ,14-Oct-2021,481.70,482.00,493.90,482.00,489.00,490.60,489.36,23431826,285093,9203608,39.28
1,SBIN,EQ,18-Oct-2021,490.60,494.00,501.00,491.70,496.95,497.95,496.52,20084248,242361,6957051,34.64
2,SBIN,EQ,19-Oct-2021,497.95,500.35,504.20,483.25,488.70,488.20,496.47,20645100,222035,6902634,33.43
3,SBIN,EQ,20-Oct-2021,488.20,488.80,507.50,483.10,501.20,499.90,499.79,34080545,330756,9918562,29.10
4,SBIN,EQ,21-Oct-2021,499.90,504.90,506.50,491.75,504.45,502.95,500.34,20808243,237992,5557708,26.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,SBIN,EQ,04-Mar-2022,467.40,460.30,470.90,457.65,462.45,461.95,464.01,20684268,271479,5928253,28.66
96,SBIN,EQ,08-Mar-2022,440.30,438.00,442.10,425.00,440.00,440.30,434.44,42510207,431966,18240018,42.91
97,SBIN,EQ,09-Mar-2022,440.30,442.00,454.30,438.55,452.30,451.70,445.45,32331325,347913,12891220,39.87
98,SBIN,EQ,10-Mar-2022,451.70,469.90,476.65,461.65,467.40,468.70,469.95,34553299,328612,10431536,30.19
99,SBIN,EQ,11-Mar-2022,468.70,466.40,474.80,462.00,470.85,470.35,470.21,22091309,219456,6521011,29.52

In [3]:
df['DELIV_VALUE'] = ''
df['5DDeVA'] = ''
df['%Change_In_Price'] = ''
df['%Change_In_Deliv_vs_AVG'] = ''
df.head()

,SYMBOL,SERIES,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG
0,SBIN,EQ,14-Oct-2021,481.70,482.00,493.9,482.00,489.00,490.60,489.36,23431826,285093,9203608,39.28,,,,
1,SBIN,EQ,18-Oct-2021,490.60,494.00,501.0,491.70,496.95,497.95,496.52,20084248,242361,6957051,34.64,,,,
2,SBIN,EQ,19-Oct-2021,497.95,500.35,504.2,483.25,488.70,488.20,496.47,20645100,222035,6902634,33.43,,,,
3,SBIN,EQ,20-Oct-2021,488.20,488.80,507.5,483.10,501.20,499.90,499.79,34080545,330756,9918562,29.10,,,,
4,SBIN,EQ,21-Oct-2021,499.90,504.90,506.5,491.75,504.45,502.95,500.34,20808243,237992,5557708,26.71,,,,

In [4]:
#  Delvery value =  delv_quantity * avg price(VWAP) / 1crore 
df['DELIV_VALUE'] = (df['DELIV_QTY'] * df['AVG_PRICE'])/10000000
df.head()

,SYMBOL,SERIES,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG
0,SBIN,EQ,14-Oct-2021,481.70,482.00,493.9,482.00,489.00,490.60,489.36,23431826,285093,9203608,39.28,450.387761,,,
1,SBIN,EQ,18-Oct-2021,490.60,494.00,501.0,491.70,496.95,497.95,496.52,20084248,242361,6957051,34.64,345.431496,,,
2,SBIN,EQ,19-Oct-2021,497.95,500.35,504.2,483.25,488.70,488.20,496.47,20645100,222035,6902634,33.43,342.695070,,,
3,SBIN,EQ,20-Oct-2021,488.20,488.80,507.5,483.10,501.20,499.90,499.79,34080545,330756,9918562,29.10,495.719810,,,
4,SBIN,EQ,21-Oct-2021,499.90,504.90,506.5,491.75,504.45,502.95,500.34,20808243,237992,5557708,26.71,278.074362,,,

In [5]:
# allocating null values in first 5 plce in 5DDeVA as we want to find avg of previous 5 days of delvery value
for i in range(5):
    df['5DDeVA'][i] = np.nan
    df['%Change_In_Price'][i] = np.nan
    df['%Change_In_Deliv_vs_AVG'][i] = np.nan
df

C:\Users\91951\AppData\Local\Temp/ipykernel_5228/1023285288.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['5DDeVA'][i] = np.nan
C:\Users\91951\AppData\Local\Temp/ipykernel_5228/1023285288.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['%Change_In_Price'][i] = np.nan
C:\Users\91951\AppData\Local\Temp/ipykernel_5228/1023285288.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['%Change_In_Deliv_vs_AVG'][i] = np.nan

,SYMBOL,SERIES,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,NO_OF_TRADES,DELIV_QTY,DELIV_PER,DELIV_VALUE,5DDeVA,%Change_In_Price,%Change_In_Deliv_vs_AVG
0,SBIN,EQ,14-Oct-2021,481.70,482.00,493.90,482.00,489.00,490.60,489.36,23431826,285093,9203608,39.28,450.387761,NaN,NaN,NaN
1,SBIN,EQ,18-Oct-2021,490.60,494.00,501.00,491.70,496.95,497.95,496.52,20084248,242361,6957051,34.64,345.431496,NaN,NaN,NaN
2,SBIN,EQ,19-Oct-2021,497.95,500.35,504.20,483.25,488.70,488.20,496.47,20645100,222035,6902634,33.43,342.695070,NaN,NaN,NaN
3,SBIN,EQ,20-Oct-2021,488.20,488.80,507.50,483.10,501.20,499.90,499.79,34080545,330756,9918562,29.10,495.719810,NaN,NaN,NaN
4,SBIN,EQ,21-Oct-2021,499.90,504.90,506.50,491.75,504.45,502.95,500.34,20808243,237992,5557708,26.71,278.074362,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,SBIN,EQ,04-Mar-2022,467.40,460.30,470.90,457.65,462.45,461.95,464.01,20684268,271479,5928253,28.66,275.076867,,,
96,SBIN,EQ,08-Mar-2022,440.30,438.00,442.10,425.00,440.00,440.30,434.44,42510207,431966,18240018,42.91,792.419342,,,
97,SBIN,EQ,09-Mar-2022,440.30,442.00,454.30,438.55,452.30,451.70,445.45,32331325,347913,12891220,39.87,574.239395,,,
98,SBIN,EQ,10-Mar-2022,451.70,469.90,476.65,461.65,467.40,468.70,469.95,34553299,328612,10431536,30.19,490.230034,,,
99,SBIN,EQ,11-Mar-2022,468.70,466.40,474.80,462.00,470.85,470.35,470.21,22091309,219456,6521011,29.52,306.624458,,,

In [ ]:
df['DELIV_VALUE'].iloc[:5].mean()

In [ ]:
# allocating 5DDeVA with previous 5 days average of delvery value 
for i in range(5, df.shape[0]):

    df.at[i, '5DDeVA'] = df['DELIV_VALUE'].iloc[i-5:i].mean()
#     print(df['DELIV_VALUE'].iloc[i-5:i], "new")
                        
    df.at[i, '%Change_In_Price'] = ((df.at[i, 'CLOSE_PRICE'] - df.at[i-1, 'CLOSE_PRICE'])/df.at[i-1, 'CLOSE_PRICE']) * 100
    df.at[i, '%Change_In_Deliv_vs_AVG'] = (df.at[i, 'DELIV_VALUE']/df.at[i, '5DDeVA']) * 100
df.head(20)

In [ ]:
df.head(20)

In [ ]:
df.tail()

In [ ]:
df.to_csv('SBIN.csv', index = False)