In [1]:
import pandas as pd
import numpy as np
import time
from datetime import timedelta, datetime
from tqdm import tqdm
import requests

In [2]:
# This function returns nth day before date
def oldDate(n):
    
    return datetime.now() - timedelta(n)

In [9]:
def raw_df_path(i):
    
    return f'C:/Users/91951/Desktop/SAL/SAL 6th SEM/DE/Code version 3/Raw_bhav_copy/Raw_bhavcopy_{oldDate(i).strftime("%Y-%m-%d")}.csv'

In [10]:
# This function returns nth day before bhavcopy download url

def url(i):
    
    return f'https://archives.nseindia.com/products/content/sec_bhavdata_full_{oldDate(i).strftime("%d%m%Y")}.csv'
#     return f'https://www1.nseindia.com/content/historical/EQUITIES/{oldDate(i).strftime("%Y")}/{oldDate(i).strftime("%b").upper()}/cm{oldDate(i).strftime("%d%b%Y").upper()}bhav.csv.zip'

In [11]:
# Testing url and oldDate function working properly or not
print(url(0))
df = pd.read_csv(url(0))
# df.to_csv(raw_df_path(1), index = False)

df

https://archives.nseindia.com/products/content/sec_bhavdata_full_15032022.csv

,SYMBOL,SERIES,DATE1,PREV_CLOSE,OPEN_PRICE,HIGH_PRICE,LOW_PRICE,LAST_PRICE,CLOSE_PRICE,AVG_PRICE,TTL_TRD_QNTY,TURNOVER_LACS,NO_OF_TRADES,DELIV_QTY,DELIV_PER
0,20MICRONS,EQ,15-Mar-2022,73.45,73.80,75.20,71.50,72.50,72.20,73.27,128927,94.47,2162,59285,45.98
1,21STCENMGM,EQ,15-Mar-2022,25.55,26.05,26.05,25.60,26.05,26.05,26.05,32315,8.42,152,25678,79.46
2,3IINFOLTD,EQ,15-Mar-2022,58.70,58.60,60.65,56.00,56.05,56.20,58.17,864169,502.68,7849,556588,64.41
3,3MINDIA,EQ,15-Mar-2022,19704.95,19810.00,20177.75,19451.00,19483.10,19562.50,19755.57,6314,1247.37,2970,3760,59.55
4,3PLAND,BE,15-Mar-2022,16.50,16.60,16.60,16.05,16.05,16.05,16.22,3505,0.57,37,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2163,ZOTA,EQ,15-Mar-2022,324.35,320.05,329.40,314.00,319.80,317.70,318.37,33428,106.43,687,22674,67.83
2164,ZUARI,EQ,15-Mar-2022,134.25,134.50,134.95,125.95,127.00,127.20,129.84,114599,148.80,2649,63330,55.26
2165,ZUARIGLOB,EQ,15-Mar-2022,192.90,192.80,193.50,180.10,181.50,181.55,185.95,145649,270.84,3560,85760,58.88
2166,ZYDUSLIFE,EQ,15-Mar-2022,365.35,368.00,373.65,366.55,370.05,369.60,369.93,1707534,6316.70,26537,919155,53.83
2167,ZYDUSWELL,EQ,15-Mar-2022,1508.10,1500.00,1548.75,1500.00,1530.00,1529.35,1529.19,38606,590.36,4993,16934,43.86

In [12]:
holiday_lst = ['JANUARY 26 2022', 'MARCH 01 2022', 'MARCH 18 2022', 'APRIL 14 2022', 'APRIL 15 2022', 'MAY 03 2022', 'AUGUST 09 2022', 'AUGUST 15 2022', 'AUGUST 31 2022', 'OCTOBER 05 2022', 'OCTOBER 24 2022', 'OCTOBER 26 2022', 'NOVEMBER 08 2022', 'JANUARY 26 2021', 'MARCH 11 2021', 'MARCH 29 2021', 'APRIL 02 2021', 'APRIL 14 2021', 'APRIL 21 2021', 'MAY 13 2021', 'JULY 21 2021', 'AUGUST 19 2021', 'SEPTEMBER 10 2021', 'OCTOBER 15 2021', 'NOVEMBER 04 2021', 'NOVEMBER 05 2021', 'NOVEMBER 19 2021']

In [14]:
# Downloading bhavcopy from last 100 days

# Version 2

fail_date_list = [] # When there is holiday bhavcopy is not available so this list will have all the dates on which bhavcopy is not available

for i in tqdm(range(1,180)):
    try:
        # Checking for saturday and sunday and holiday
        if i not in [8] and oldDate(i).strftime('%w') != '6' and oldDate(i).strftime('%w') != '0' and oldDate(i).strftime('%B %d %Y').upper() not  in holiday_lst: 
            
            
#             print(i, "  ",oldDate(i).strftime('%B %d %Y %A').upper())
            
            df = pd.read_csv(url(i))
#             display(df)
            df.to_csv(raw_df_path(i), index = False)
        
    except:
        fail_date_list.append(f'{oldDate(i).strftime("%d%b%Y")}')
#     print(oldDate(i).strftime('%B %d %Y').upper() in holiday_lst)
        
        
print(fail_date_list)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 179/179 [01:01<00:00,  2.91it/s]

[]

In [15]:
# Checking the name and content of bhavcopy by validating date from bhavcopy name and time stamp given inside the bhavcopy

for i in tqdm(range(180)):
    
    try:
        df = pd.read_csv(f'C:/Users/91951/Desktop/SAL/SAL 6th SEM/DE/Code/Raw_bhav_copy/Raw_bhavcopy_{oldDate(i).strftime("%Y-%m-%d")}.csv')
        if df['TIMESTAMP'][0] != f'{oldDate(i).strftime("%d-%b-%Y").upper()}':
            print(df['TIMESTAMP'][0])
            display(df.head(1))
            
    except:
        continue

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 180/180 [00:00<00:00, 185.47it/s]

# Rough Work start from here

In [ ]:
df = pd.read_csv(f'C:/Users/91951/Desktop/SAL/SAL 6th SEM/DE/Code/Raw_bhav_copy/Raw_bhavcopy_{oldDate(i).strftime("%Y-%m-%d")}.csv')

    print("Hello")

In [ ]:
oldDate(i).strftime('%d-%b-%Y').upper()

In [ ]:
df['SERIES'][1]

In [ ]:
df['TOTTRDVAL'].astype(int)

In [ ]:
df = pd.read_csv(url(2))
df = df.loc[df['SERIES'] == 'EQ']
df['TOTTRDVAL'] = df['TOTTRDVAL'].astype(int)
df

In [ ]:
https://archives.nseindia.com/products/content/sec_bhavdata_full_09032022.csv

In [ ]:
req = requests.get(url(3))
url_content = req.content
# csv_file = open('downloaded.csv', 'wb')
df = pd.read_csv('downloaded.csv')
display(df)
# csv_file.write(url_content)
# csv_file.close()

In [ ]:
holiday_lst = ['JANUARY 26 2022', 'MARCH 01 2022', 'MARCH 18 2022', 'APRIL 14 2022', 'APRIL 15 2022', 'MAY 03 2022', 'AUGUST 09 2022', 'AUGUST 15 2022', 'AUGUST 31 2022', 'OCTOBER 05 2022', 'OCTOBER 24 2022', 'OCTOBER 26 2022', 'NOVEMBER 08 2022', 'JANUARY 26 2021', 'MARCH 11 2021', 'MARCH 29 2021', 'APRIL 02 2021', 'APRIL 14 2021', 'APRIL 21 2021', 'MAY 13 2021', 'JULY 21 2021', 'AUGUST 19 2021', 'SEPTEMBER 10 2021', 'OCTOBER 15 2021', 'NOVEMBER 04 2021', 'NOVEMBER 05 2021', 'NOVEMBER 19 2021']

In [ ]:
# Downloading bhavcopy from last 100 days

# Version 2 tesetd here 

fail_date_list = [] # When there is holiday bhavcopy is not available so this list will have all the dates on which bhavcopy is not available

for i in (range(1,100)):
    try:
        # Checking for saturday and sunday and holiday
        if i not in [3] and oldDate(i).strftime('%w') != '6' and oldDate(i).strftime('%w') != '0' and oldDate(i).strftime('%B %d %Y').upper() not  in holiday_lst: 
            
            
            print(i, "  ",oldDate(i).strftime('%B %d %Y %A').upper())
            df = pd.read_csv(url(i))

            df.to_csv(f'C:/Users/91951/Desktop/SAL/SAL 6th SEM/DE/Code/Raw_bhav_copy/Raw_bhavcopy_{oldDate(i).strftime("%Y-%m-%d")}.csv', index = False)
            display(df)
    except:
        fail_date_list.append(f'{oldDate(i).strftime("%d%b%Y")}')
#     print(oldDate(i).strftime('%B %d %Y').upper() in holiday_lst)
        
        
print(fail_date_list)

In [ ]:
and oldDate(i).strftime('%B %d %Y').upper() not in holiday_lst

In [ ]:
# Downloading bhavcopy from last 100 days
# This is version 1 here we do not consider saturday and sunday and holiday
"""
We have to write second version because df = pd.read_csv(url(i)) this line doesnt give any error if file is not found 

( basically bhav copy is not available on saturday sunday and holidays) and program halts. So, we have to discard that dates
and this problem is settled in version 2

"""
fail_date_list = [] # When there is holiday bhavcopy is not available so this list will have all the dates on which bhavcopy is not available

for i in (range(1,100)):
    try:
        if i !=3:
            print(i)
            df = pd.read_csv(url(i))

            df.to_csv(f'C:/Users/91951/Desktop/SAL/SAL 6th SEM/DE/Code/Raw_bhav_copy/Raw_bhavcopy_{oldDate(i).strftime("%Y-%m-%d")}.csv', index = False)
            display(df)
    except:
        fail_date_list.append(f'{oldDate(i).strftime("%d%b%Y")}')
        
        
print(fail_date_list)

In [ ]:
print("DD is great")